@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    padding:50px 0;
}

header img.menu{
    display: none;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 500px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #242E52;
}

header nav ul li a:hover{
    color:#8C8C94;
}

header button{
    border: none;
    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #FFFF;
    font-weight: 500;
    font-size: 13.1806px;
    width: 134px;
    height: 44px;
    cursor: pointer;
}
header button:hover{
    background-color: #FA8F75;

}
main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px;
}
main section article{
    width: 40vw;
    padding: 40px;
}
section article h1{
    font-size: 3rem;
    color: #232C50;
}
section article img{
    width: 100%;
}
section article p.text{
    font-size: 0.8rem;
    width: 100%;
    text-align: left;
    padding: 5% 40% 5% 0;
}
section article button{
    border: none;
    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #FFFF;
    font-weight: 500;
    font-size: 13.1806px;
    width: 134px;
    height: 44px;
    
}
button.push:hover{
    background-color: #FA8F75;
    cursor: pointer;
}
section article h3{
    color: #232851;
    font-size: 1.8rem;
}
section article.aboutUs{
    display: flex;
    flex-wrap: wrap;
}
article div.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2% 0;
}
div span button.number{
    width:40px ;
    height: 25px;
    box-shadow:none;
    font-size: 0.6rem;
    margin: 0 20px 0 0;
}

/*div span button.number:hover{
    background: #F3603B;
    cursor: auto;
}*/

div p.paragraph{
    width: 90%;
    font-size: 0.8rem;
    font-weight: 400;
    color: #B3B2B7;
    line-height: 20px;
    padding-left: 60px;
    margin-bottom: 10px;
}

section.seccion3 article.profile{
    width: 30%;
    text-align: center;
    padding: 2%;
}
section.seccion3 h3{
    font-size: 1.9rem;
    line-height: 41px;
    color: #242E53;
    width: 100%;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}
article img.circle{
    width: 70px;
    height: 70px;
    text-align: center;
}
section.seccion3 article h6{
    width: 100%;
    text-align: center;
}
article p.description{
    font-size: 0.8rem;
    color: #B9B9C1;
    text-align: center;
}
section img.carrusel{
    display: none;
}
section.button3{
    text-align: center;
}

section.final{
    background-color: #F3613C;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
}
section p.simplify {
    color: white;
    font-size: 40px;
    line-height: 48px;
    width: 438px;
}

section.final button{
    width: 134px;
    height: 44px;
    border: none;
    font-size: 13.1806px;
    line-height: 19px;
    color: #F3603B;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

section.final button:hover{
    color: #F9B5A3;
    cursor: pointer;
    }

footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1E1E26;
    color: #FFFFFF;
    padding: 4% 0;
    position: relative; /**/
}
footer section article.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

footer section article.redes div a i:hover{
    color: #F3603B;
}

footer section article div i {
    justify-content: space-around;
    padding: 0 9px;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
}
footer section article.links ul{
    list-style: none;
}

article.links ul li a:hover{
    color: #F3603B;
}

article.links ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    text-decoration: none;
    line-height: 30px;
    color: #FFFFFF;    
}

footer section article.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer section article form input  {
    width: 200px;
    height: 44px;
    border-radius: 50px;
    border: none;
    margin-top: 10px;
}

footer article button{
    width: 65px;
    margin-left: 5px;
    box-shadow: none;
}
footer p {
    position: absolute;
    font-size: 0.7rem;
    color:#8C8C94;
    bottom: 40px;
    right: 150px;
}

@media (max-width:400px){
    header nav{
        display: none;
    }
    header button {
        display: none;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    header img.menu{
        display:block;
    }

    main section article{
        width: 100vw;
        padding: 0;
    }
    section article h1{
        font-size: 2rem;
        text-align: center;
    }
    section article.ilustration{
        order:1
    }
    section article p.text{
        width: 100%;
        font-size: 0.8rem;
        text-align: center;
        padding: 10px 5px;
        line-height: 20px;
}
    section article h3{
        font-size: 1.3rem;
        text-align: center;
        margin-top: 50px;
        padding: 0 20px;
}
    main section article button{
        margin: 5% 0 0 28%
    }
    div p.paragraph {
        padding: 0;
        width: 100%;
    }
    section article.hide{
        display: none;
    }
    section.seccion3 article.profile{
        width: 100%;
    }
    section img.carrusel{
        display: block;
        text-align: center;
    }
    section.button3 article button{
        margin: 0 0 30px;
    }
    section.final button{
        margin: 10px 0 0 80px;
    }
     section p.simplify {
        text-align: center;
        font-size: 1.5rem;
        padding: 15px 50px;
        font-weight: 500;
        line-height: 25px;
    }
    footer p{
        order:3;
        bottom:15px;
        right: 90px;
        padding: 10px 0;
    }
    footer section article.redes{
        order: 2;
        margin: 50px;
    }

    footer section article.redes div i{
        font-size: 1.2rem;
        padding-right: 35px;
    }

    footer section article.redes img {
        margin-top: 20px;
        order: 1;
        padding: 35px;

    }
    footer section article.links{
        order:1;
        margin-top: 30px;
    }
    footer section article.links ul{
        padding: 0px;
        margin: 0 45px;
    }
    }
